body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App {
  background-image: radial-gradient(blue, rgb(138, 138, 233));
  
}

.form-group {
  margin: auto;
}

.form {
  margin-top: 1%;
}

.container {
  margin-top: 1%;
  margin-bottom: 1%;
}

.button {
  margin-top: 1%;
}
